.card{
    background-image: url("");
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.inputbg{
    background-color: blueviolet;
    height: 20px;
}
#celsius, #fahrenheit, #kelvin{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.button{
    margin-top: 10px;
    margin-bottom: 10px;
}